{% extends 'base.html' %}
{% load widget_tweaks %}

{% load static from staticfiles %}
{% block static_css %}
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
{% endblock %}

{% block content %}

<div>
    <a href="{% url 'user_profile' %}" class="btn btn-warning">Go back</a>
</div>
<br/>
<div class="col-xs-6 col-xs-offset-3">
    <h2>Change Password</h2>
    <form class="change-password-form" action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.old_password.label_tag }}
            {{ form.old_password|add_class:"form-control" }}
            <b>{{ form.old_password.errors }}</b>
        </div>
        <div class="form-group">
            {{ form.new_password1.label_tag }}
            {{ form.new_password1|add_class:"form-control has-error" }}
            {{ form.new_password1.errors }}
        </div>
        <div class="form-group">
            {{ form.new_password2.label_tag }}
            {{ form.new_password2|add_class:"form-control" }}
            {{ form.new_password2.errors }}
        </div>
        <div class="form-group text-right">
            <br/>
            <button type="submit" class="btn btn-warning btn-block btn-lg">Submit</button>
        </div>
    </form>
</div>
{% endblock %}