{% extends "base.html" %}
{% block content %}
{% if request.user.profile.role > 1 %}
<div class="panel panel-default">
   <div class="panel-heading">
       <h3 class="panel-title">Incarcare document</h3>
   </div>
  <div class="panel-body">

      <form action="{% url 'workspace' %}" method="post" enctype="multipart/form-data" class="form-horizontal" role = "form">
          {% csrf_token %}
          <p>{{ form.non_field_errors }}
             {{ form.docfile.help_text }}
            {{ form.docfile.errors }}</p>
          <p>
            Document:
            {{ form.docfile }} <br />
            Descriere:
            <br /> {{ form.abstract }} <br />
            Cuvinte cheie:
            <br /> {{ form.keywords }} <br />
          </p>

          <button type="submit" class="btn btn-default">Submit</button>
    </form>


  </div>
</div>

<hr />
{% else %}
{% endif %}
{% if documents %}
<h1> Documents </h1>
<table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Created on</th>
                <th>Last modified</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
        {% for req in documents %}
            <tr>
                <td> {{ req.filename }} </td>
                <td> {{ req.author }}</td>
                <td> {{ req.created_on|date:'Y-m-d H:i' }}</td>
                <td> {{ req.last_modified|date:'Y-m-d H:i' }}</td>
                <td>
                <div class="action-menu">
                    <a class="btn btn-m btn-default btn-icon" title="View details" href="{% url 'document_detail' pk=req.id %}">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    </a>
                </div>
              </td> 
            </tr>
        {% endfor %}
        </tbody>
</table>
{% else %}
  <p>No documents uploaded yet.</p>
{% endif %}

{% endblock %}
